<!DOCTYPE html>
<html lang="en">
<head>
    {{! this app created by Ido Cohen }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Todos by Ido Cohen</title>
</head>
<body>
    <h1>My Todos:</h1>
    <form action="/todos" method="POST">
        <input type="text" name="description">
        <button type="submit">Add</button>
    </form>
        <ul>
        {{#todos}}
           <li> 
            <form action="/todos/{{_id}}/completed" method="post">
                {{description}} - {{done}} <button type="submit">Done</button>
            </form>
           </li>
        {{/todos}}
    </ul>
    <h3>Completed Tasks:</h3>
    <ul>
    {{#doneTodos}}
               <li> 
            <form action="/todos/{{_id}}/completed" method="post">
                {{description}} - {{done}} <button type="submit">Revert Back</button>
            </form>
           </li>
    {{/doneTodos}}
    </ul>
    <footer>&copy Ido Cohen todo App</footer>
</body>
</html>